.container{
    height: 100vh;
    width: 100%;
    background-image: url('images/bg2.avif');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    min-width: 80%;
    min-height: 100vh;
}
body{
    margin: 0;
}
.inner-container {
    height: 442px;
    width: 350px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    min-width: 20%;
    max-width: 32%;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.grid{
    display: grid;
}
.bg-img{
    width: 100%;
    height: 158px;
    /* background-color: red; */
    /* margin: auto; */
    border-radius: 20px 20px 0px 0px;
    background-image: url('images/rocks.avif');
    background-size: contain;
}
.column-grid{
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
}
.bg-img{
    display: flex;
}
img{    
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
     top: 115px;
    /* left: 139px; */
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(247, 244, 244);
}

.profile-name {
    width: 100%;
    height: 62px;
    margin-top: 75px;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* top: -28px; */
}
.voilet-font{
    font-size: 1.8rem;
    color: purple;
}
hr {
    margin-top: 7px;
    margin-left: 8px;
    margin-right: 8px;
    height: 1px;
    background-color: black;
    border: 1px black;
}
.grid-container{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    height: 20px;
}
.row{
    width: 100%;
    height: 40%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}
.grey{
    color: gray;
}
.button{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 60%;
    height: 80%;
    background-color: rgb(42, 134, 239);
    color: white;
    border: none;
    border-radius: 10px;
}